<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find my_fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find my_fetch_gazebo)/worlds/$${world.name}.sdf"/>
  </include>

  //! if (robot && robot.shortName === "Mir") {
  <!-- spawn Mir robot and bring up controllers etc. -->
  <include file="$(find mir_gazebo)/launch/mir_gazebo_common.launch">
    <arg name="robot_x"   value="$(arg robot_x)" />
    <arg name="robot_y"   value="$(arg robot_y)" />
    <arg name="robot_yaw" value="$(arg robot_yaw)" />
  </include>
  //! } else {
  <!-- spawn fetch robot -->
  <include file="$(find my_fetch_gazebo)/launch/include/$(arg robot).launch.xml" />
  //! }

</launch>